button { 
    margin: 2px;
    padding:5px 10px 5px 10px;
    border: 1px outset silver;
    border-radius: 7px;
    min-width: 20px;
    min-height: 20px;                     
}
button-xs { 
    margin: 2px;
    padding:5px 10px 5px 10px;
    border: 1px outset silver;
    border-radius: 7px;
    min-height: 10px;
    font-size: 10px;
    font-family: arial; 
}
button-sm { 
    margin: 2px;
    padding:5px 10px 5px 10px;
    border: 1px outset silver;
    border-radius: 7px;
    min-height: 15px;
    font-size: 12px;
    font-family: arial; 
}
button-md { 
    margin: 2px;
    padding:5px 10px 5px 10px;
    border: 1px outset silver;
    border-radius: 7px;
    min-height: 20px;
    font-size: 16px;
    font-family: arial; 
}
button-lg { 
    margin: 2px;
    padding:5px 10px 5px 10px;
    border: 1px outset silver;
    border-radius: 7px;
    min-height: 25px;
    font-size: 20px;
    font-family: arial; 
}
button-xl { 
    margin: 2px;
    padding:5px 10px 5px 10px;
    border: 1px outset silver;
    border-radius: 7px;
    min-height: 30px;
    font-size: 24px;
    font-family: arial; 
}
.danger-btn { 
    color: #fff;
    font-weight:bold;
    background: linear-gradient(135deg, maroon, rgb(230, 97, 0)); 
    border-radius: 5px;
    border: 2px outset maroon;
    padding: 4px;
}
.danger-btn:hover{ 
    cursor:pointer;
    border: 2px inset maroon;
}
.warning-btn { 
    color: #fff;
    font-weight:bold;
    background: linear-gradient(135deg, rgb(230, 97, 0), rgb(229, 165, 10)); 
    border-radius: 5px;
    border: 2px outset rgb(230, 97, 0);
    padding: 4px;
}
.warning-btn:hover{ 
    cursor:pointer;
    border: 2px inset rgb(230, 97, 0);
}
.info-btn {
    color: #fff;
    font-weight: bold;
    background: linear-gradient(135deg, #175273, #ccc);
    border-radius: 5px;
    border: 2px outset #175273;
    padding: 4px;
}
.info-btn:hover {   
    border: 2px inset #175273;
    cursor:pointer;
}

.submit-btn {
    color: #fff;
    font-weight: bold;
    background: linear-gradient(135deg, rgb(38, 162, 105), rgb(143, 240, 164));
    border-radius: 5px;
    border: 2px outset rgb(38, 162, 105);
    padding: 4px;
}
.submit-btn:hover {   
    border: 2px inset ;
    cursor:pointer;
}
.my-button {
    color: #fff;
    font-weight: bold;
    background: linear-gradient(339deg, #46708c, rgb(222, 221, 218));
    border-radius: 5px;
    border: 1px outset rgb(119, 118, 123);
    padding:7px 3px 26px 3px;
    margin: 20px 0px 20px 0px;
}
.my-button:hover {   
    border: 1px inset rgb(119, 118, 123);
    cursor:pointer;
}