
h1 {
    font-size: 44px;
    line-height: 48px;
    font-weight:bold;
}
h2 {
    font-size: 42px;
    line-height: 46px;
    font-weight:bold;
}
h3 {
    font-size: 40px;
    line-height: 44px;
    font-weight:bold;
}
h4 {
    font-size: 38px;
    line-height: 42px;
    font-weight:bold;
}
h5 {
    font-size: 36px;
    line-height: 40px;
    font-weight:bold;
}
h6 {
    font-size: 34px;
    line-height: 38px;
    font-weight:bold;
}

table {
    border:1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width:2000px;
}
th, td {
    padding:5px 15px 5px 15px;
    border-right:1px solid #eee;
}

tr {
    padding:10px 5px 10px 5px;
    border-top:1px solid silver;
    border-bottom:1px solid silver;
}

.align-center{
    width:100%;
    margin: 50%;
    text-align:center;
    vertical-align:middle;            
}

.tleft {
    text-align:left;
}
.tcenter {
    text-align:center;
}
.tright {
    text-align:right;
}
.center {
    margin: 0 auto;
    width:98%;
}

#footer {
	min-width: 100vw;
    height: 10%;
    background: gray;
    position: relative;
    top: 0;
    text-align:right;
    margin-left:-10px;
    color:darkgray;
}

.responsive-container {
    overflow: auto;
}
.responsive-inner {
	width:2000px;
}