.responsive-container {
	max-width: 100vw;
    border: 1px solid silver;
    border-radius: 15px;
    padding: 10px;
}
.container { 
	max-width: 100%;
	margin:2% 5% 0% 5%;
}
.form-container { 
	background: linear-gradient(306deg,  #3a6683, #eee);
	box-shadow: 8px 9px 8px #ccc;
	border: 2px inset #1d5274;
    padding-bottom: 34px;
    border-bottom: 2px solid #175273;
    border-radius: 15px;
    margin: 1% auto 5% auto;
}
.form-control {
	width: 60%;
    margin-bottom: 5px;
    height:40px;
}

.form-label {
	width: 40%;
    float: left;
    height: 30px;
	font-weight: bold;
	color:#1d5274;
}
.label-spacer {
	width: 40%;
    float: left;
    height:10px;
}
.form-btton {
	margin:20px auto; height:30px; line-height:auto; font-size:16px; text-align:center;padding:5px 3px;
}
.nerror.active {
	    background: #1d5274;
	    opacity: .8;
	    height: 30px;
	    max-width: 60%;
	    margin-top: 0px;
	    overflow-x: scroll;
	    position: relative;
	    top: -15px;	    
	}
.nerror.active::-webkit-scrollbar {
    		display: none;
		}	
.nerror.active>.e-inner { margin-left:5px; }
.input-add-on {
	    position: relative;
    margin-left: -30px;
    top: 2px;
    color: #1d5274;
    text-align: center;
    margin-top: 0%;
    /* background: silver; */
    height: 23px;
    border: 1px solid #1d5274;
    border-top: 0;
    padding: 5px 5px;
    width: 30px;
    border-bottom: 0;
    border-right: 0;
}



@media only screen and (max-width: 479px) {
    .container{ margin:2%; } 
	.form-container {		
    	width: 100%;
    	margin: 1% auto 5% auto;
    	border-radius: 15px;
	}
	.form-control {
		width:100%;
	}
	.nerror.active { 
		min-width:100%;
		top:-8px;
	}
	.form-label {
		width:100%;
		float:none;
	}
	.form-button { max-width:80%; }		
}

@media only screen and (min-width: 480px) {
    
    .form-container {		
    	width: 100%; 
    	margin: 1% auto 5% auto; 
    	border-radius: 15px;  	
	}
	.form-control {
		width:100%;
	}
	.nerror.active { 
		min-width:100%;
		top:-8px;
	}
	.form-label {
		width:40%;
		float:left;
	}
	.form-button { max-width:70%; }
}
@media only screen and (min-width: 621px) {
    
    .form-container {		
    	width: 100%;
    	
	}
	.form-control {
		width:60%;
	}
	.nerror.active { 
		min-width:60%;
		top:-8px;
	}
	.form-label {
		width:40%;
		float:left;
	}
	.form-button { max-width:60%; }
}
@media only screen and (min-width: 780px) {
   
    .form-container {		
    	width: 700px;    	
	}
	.form-control {
		width:60%;
	}
	.nerror.active { 
		min-width:60%;
		top:-8px;
	}
	.form-label {
		width:40%;
		float:left;
	}

}
