* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}

.logo {
	margin: 0;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color: #718daa;
}

.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.side-nav { 
	margin-left:-100%;
	flex-direction: column;    
}

.side-nav-inner { 
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: flex-start;
	    padding: 25px 0px 19px 0px;
	    margin-left: 0%;
	    transition: all .5s;
	    position: absolute;
	    top: 0;
	    left: 0;
	    margin-top:75px;
	    width: 200px;
	    border-radius: 0px 0px 0px 0px;	    
	    border-left: 0;
	    height: auto;
}
.side-nav-inner > li {
	width: 95%;
    border-radius: 0 5px 5px 0;
    border: 2px outset gray;
    color: gainsboro;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    margin-bottom: 5px;
    padding: 5px 30px;
    margin-left: -44px;
    
}
.side-nav-inner > li { 
	color: rgb(238, 238, 238); 
	font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    background:gray;
}
.side-nav-inner >li.on {
	background: steelblue;
}
.side-nav-inner > li.active { 
	color: rgb(238, 238, 238); 
	font-weight: bold;
    text-shadow: 1px 1px 1px #000;
    border: 2px inset gray;
    background: silver;
}
.contact-container { 	 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 340px;
    height: auto;
    background: white;
    border: 1px solid silver;
    border-radius: 10px;
    padding: 20px;
    position: absolute;
    top:25%;
    margin-left: -200%;
    transition: all .5s;
    z-index: 4;
}
.contact-container.active {
	margin-left:0;
}
/* ================================= 
  Media Queries
==================================== */

@media (max-width: 460px) {
	.main-nav {
		display: none;		
	}
	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
    	.header{
			width: 80%;
			margin: 0 auto;
			max-width: 1150px;
		}
	}
	
	.header>.fa-bars{
		display:flex;
	}
	.side-nav {
		margin-left: -100%;
	}
	.side-nav-inner.active { 
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: flex-start;
	    padding: 25px 0px 19px 0px;
	    margin-left: 0%;
	    transition: all .5s;
	    position: absolute;
	    top: 0;
	    left: 0;
	    margin-top:75px;
	    width: 200px;
	    border-radius: 0px 0px 0px 0px;	    
	    border-left: 0;
	    height: auto;
	}
	.side-nav.active {
		margin-left: 0;
	    flex-direction: column;
	    align-items: center;
	    justify-content: space-evenly;
	    padding: 10px 20px 10px 20px;
	    transition: all .5s;
	    position: absolute;
	    top: 0%;
	    left: 0;
	    width: 160px;
	    background-color: #021c27d9;
	    border: 3px outset #000;
	    border-radius: 0px 5px 5px 0px;
	    z-index: 2;
	    width:100vw;
	    height:100vh;
	}
	.side-nav {
		margin-left: -100%;
	    flex-direction: column;
	    align-items: center;
	    justify-content: space-evenly;
	    padding: 10px 20px 10px 20px;
	    transition: all .5s;
	    position: absolute;
	    top: 0%;
	    left: 0;
	    width: 160px;
	    background: rgb(255, 255, 255);
	    border-radius: 0px 5px 5px 0px;
	    z-index: 2;
	}
	.side-nav-inner.active>li{
		
	}
}


@media (min-width: 461px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
			width: 80%;
			margin: 0 auto;
			max-width: 1150px;
		}
	}
	.header>.fa-bars{ display:none; }
	
	.side-nav {
		margin-left: -100%;
	}
	.side-nav-inner.active { 
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: flex-start;
	    padding: 25px 0px 19px 0px;
	    margin-left: 0%;
	    transition: all .5s;
	    position: absolute;
	    top: 0;
	    left: 0;
	    margin-top:75px;
	    width: 200px;
	    border-radius: 0px 0px 0px 0px;	    
	    border-left: 0;
	    height: auto;
	}
	.side-nav.active {
		margin-left: 0;
	    flex-direction: column;
	    align-items: center;
	    justify-content: space-evenly;
	    padding: 10px 20px 10px 20px;
	    transition: all .5s;
	    position: absolute;
	    top: 0%;
	    left: 0;
	    width: 160px;
	    background-color: #021c27d9;
	    border: 3px outset #000;
	    border-radius: 0px 5px 5px 0px;
	    z-index: 2;
	    width:100vw;
	    height:100vh;
	}
	.side-nav {
		margin-left: -100%;
	    flex-direction: column;
	    align-items: center;
	    justify-content: space-evenly;
	    padding: 10px 20px 10px 20px;
	    transition: all .5s;
	    position: absolute;
	    top: 0%;
	    left: 0;
	    width: 160px;
	    background: rgb(255, 255, 255);
	    border-radius: 0px 5px 5px 0px;
	    z-index: 2;
	}
	.side-nav-inner.active>li{
		
	}
}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
