/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;  
}

table {
    border:0px solid #ccc;
    border-radius: 10px;
    padding: 0px;
    width:2000px;
}
th, td {
    padding:5px 15px 5px 15px;
    border-right:1px solid #eee;
}
td { border-bottom: 1px solid #eee; }
th {
	background:#ccc;
}
tr {
    padding:10px 5px 10px 5px;
    border-top:1px solid silver;
    border-bottom:1px solid silver;
}
th.first_name, th.last_name {
	max-width:130px;
}
th.address {
	max-width:200px;
}
th.mobile_number,th.created,th.last_updated {
	max-width:200px;
	min-width:150px;
}
th.timezone, th.zip {
	max-width:100px;
}
td.first_name, td.last_name {
	max-width:130px;
	overflow:auto;
}
td.first_name>.inner, td.last_name>.inner {
	min-width:130px;
	max-width:300px;
}
td.address, td.email {
	max-width:200px;
	overflow:auto;
}
td.address>.inner {
	min-width:500px;	
}
td.email>.inner {
	min-width:300px;	
}
td.mobile_number,td.created,td.last_updated {
	max-width:140px;
	overflow:auto;
}
td.created>.inner,td.last_updated>.inner {
	width:160px;	
}
td.timezone, td.zip {	
	overflow:auto;
}
.title {
	font-size: 30px;
	color:#aaa;
	font-weight: bold;
	text-align:center;
}
.align-center{
    width:100%;
    margin: 50%;
    text-align:center;
    vertical-align:middle;            
}

.tleft {
    text-align:left;
}
.tcenter {
    text-align:center;
}
.tright {
    text-align:right;
}
.center {
    margin: 0 auto;
    width:98%;
}

#footer {
	min-width: 100vw;
    height: 10%;
    background: gray;
    position: relative;
    top: 0;
    text-align:right;
    margin-left:-10px;
    color:darkgray;
}

.responsive-container {
    overflow: auto;
}
.responsive-inner {
	width:2000px;
}

.div-alert {	
    width:100vw;
    padding-top:10px;
    padding-bottom:10px;
    
    text-align:center;
    font-size:16px;
    font-weight:bold;
    margin-top: -200px;
    opacity: 0;
    z-index:0;position:absolute;width:100%;transition: all 2s ease-in-out;
}

.div-alert.active {	
    margin-top: -47px;
    opacity: 1;
    padding: 10px 0px;
    border: 1px solid;
}

.danger,.error,.failure {
	color: #a94442; 	
    background-color: #f2dede; 
    border-color: #ebccd1;   
}
.success {
	color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;   
}
.warning {
	color: #fff;
	background: linear-gradient(357deg, rgb(255, 163, 72), rgb(229, 165, 10), rgb(248, 228, 92), rgb(246, 245, 244));
    
    border-color: rgb(229, 165, 10);   
}

