input {
  width: 100%;
  margin-top: 0;
  margin-bottom:5px;
  padding: 0.5em;
  border: 1px solid steelblue;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height:30px;
}
textarea {
  width: 100%;
  margin-top: 0;
  margin-bottom:5px;
  padding: 0.5em;
  border: 1px solid steelblue;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  
}
.bold-20 {
	font-weight:bold;
	font-size:20px;
}
input[type=reset] {
  width: auto;
  height: auto;
  border-bottom: 0;
  background-color: transparent;
  color: rgb(104, 104, 104);
  font-size: 14px;
}

.title {
  width: 100%;
  margin-block-end: 0;
  font-weight: 500;
}

.note {
    width: 91%;
    margin-block-start: 0;
    font-size: 12px;
    text-align: right;
    margin-left: 0;
    margin-bottom: 7px;
    padding-top: 5px;
}

.main-form {	
	background: linear-gradient(306deg, #3a6683, #eee);
    border-radius: 0 0 10px 10px;
    color: azure;
    border: 0px outset #1d5274;   
    border-top:0;
}

.form-group {
  max-width: 98%;
  padding: 20px;
  margin:0 auto; 
}

.red-asterisk {
    color: red;
    /* font-size: 14px; */
    /* font-weight: bold; */
    position: relative;
    top: 5px;
    left: 0px;
}
.alert-info { 
	text-align:center;
    color: #fff;
    border-color: rgb(98, 160, 234);
    background-color: #1d5274;
    font-weight:bold;
    margin:0px auto;
    width:100%;
}
.alert-warning { 
	text-align:center;
    color: rgb(229, 165, 10);
    background-color: #fbf4d8;
    border-color: #f89406;
    font-weight:bold;
    margin:0px auto;
    width:100%;
}
.alert-success { 
	text-align:center;
    color: rgb(143, 240, 164);
    background-color: #fbf4d8;
    border-color: rgb(92, 184, 92);
    font-weight:bold;
    margin:0px auto;
    width:100%;
}
.alert-danger { 
	text-align:center;
    color: rgb(230, 97, 0);
    background-color: #fbf4d8;
    border-color: rgb(192, 28, 40);
    font-weight:bold;
    margin:0px auto;
    width:100%;
}
.btn-info { 
	text-align:center;
    color: #fff;
    border-color: #027db5;
    background-color: rgb(153, 193, 241);
    font-weight:bold;
    margin:0px auto;    
}
.btn-success { 
	text-align:center;
    color: #fff;
    border-color: rgb(38, 162, 105);;
    background-color: rgb(92, 184, 92);
    font-weight:bold;
    margin:0px auto;    
}
.btn-warning {
	text-align:center;
    color: rgb(229, 165, 10);
    background-color: #fbf4d8;
    border-color: #f89406;
    font-weight:bold;
    margin:0px auto;
}
.form-control-feedback {
    top: 0px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.nerror .nvalidation{ 
    padding: 3px !important;
    border-radius: 5px !important;
    position: relative;
    display: inline-block !important;
    box-shadow: 1px 1px 1px #aaaaaa;
    margin-top: 0px;
    border-color: #af0b1ed6;
    font-size:85%;
    min-width:100%;
}
.nerror .nvalidation:before{ 
  content: ''; 
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #c51212a1;
  position: absolute; 
  top: -10px; 
  font-size:85%;
}
.nlabel:after{
  color: #c51244 !important;
}
.nerror input, .c-error select, .c-error .c-choice-option{ 
  background: #eee; 
  color: #c51244;
}
.nerror input[type="checkbox"] {
    margin-bottom: 10px;
    margin-left: 8px;
}
.nerror input, .nerror select{ 
  border: 1px solid #c51244 !important; 
}
.fa-asterisk { 
	font-size:10px; 
    position: absolute;
    margin-top: 0px;
    margin-left: 3px;
}
.green-asterisk { 
	position:absolute;
	margin-top: 0;
	margin-left:-10px;
}
.nerror { 	       
    position: relative;            
    max-width:100%; 
    min-height:20px;   
    overflow:auto;
}
.nerror.active { 	    
    background: linear-gradient(179deg, rgb(53, 132, 228), #000);    
    opacity: .8;    
    max-height:24px;
	min-width:100%; 
	margin-top:5px;
	overflow-x:scroll; 
	position:relative;  
}
.nerror>.e-inner{
	display:none;
	font-family: arial;
	font-size: 14px;
	line-height:24px;	
	font-weight: bold; 
}
.nerror.active>.e-inner{
	display:block;
	font-family: arial;
	font-size: 14px;
	line-height:24px;	
	font-weight: bold; 
}
.success { 
	background: white; 
	font-size: 80%; 
	font-style: italic; 
}

.control-container {
	width:70%;
}
.form-messages {
	height:30px; 
	width:100%;
	background: white;
	border: 0px inset #000;
	font-family: monospace;
	color: black;
}
.form-row {
	
}
.center { margin:0 auto;text-align:center}