.div-alert {	
    width:100vw;
    padding-top:10px;
    padding-bottom:10px;
    
    text-align:center;
    font-size:16px;
    font-weight:bold;
    margin-top: -200px;
    opacity: 0;
    z-index:0;position:absolute;width:100%;transition: all 2s ease-in-out;
}

.div-alert.active {	
    margin-top: -47px;
    opacity: 1;
    padding: 10px 0px;
    border: 1px solid;
}

.danger,.error,.failure {
	color: #a94442; 	
    background-color: #f2dede; 
    border-color: #ebccd1;   
}
.success {
	color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;   
}
.warning {
	color: #fff;
	background: linear-gradient(357deg, rgb(255, 163, 72), rgb(229, 165, 10), rgb(248, 228, 92), rgb(246, 245, 244));
    
    border-color: rgb(229, 165, 10);   
}
.slide-hide {
	height:0px;
	padding-top:0px;
	padding-bottom:0px;
	width:0px;
	margin:0;
	border:none;
	transition: all 0.4s ease-in-out;
}
.cred {
	color:#a94442;
}
.cgold {
	color:gold;
}

.bgaliceblue { background:aliceblue; }
.bgwhite { background:white; }
.hilite { background:lemonchiffon; }
.live_search_dropdown {
    listStyle : none;
    position : absolute;    	
    height : 120px;
    width : 90%;
    overflow : auto;
    border : 1px solid silver; 
    font-size:95%;
    border-radius:4px;
    z-index:111111111111;
}
.live_search_dropdown>li{
    padding:5px;
}
.live_search_dropdown>li:hover{
    background:lemonchiffon;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover { background:#027Db5;}
.confirm-panel {
        max-width: 100%;
        height: auto;
        position: fixed;
        top: -300px;        
        left: -300px;
        z-index: 1000;
        transition: all 1s ease-in-out;
        min-width: 20%;
        width: 300px;              
}
.confirm-panel-heading { 
    text-align:center;
    font-weight:bold;
}
.confirm-panel-body { 
    padding:15px;
    font-weight:normal;
}
.confirm-panel-footer { 
    text-align:right;
    background:#cccccc;
}
.container_login, .container { background:#fff;min-height:100vh;}
.heading-2 { background:#fff;}
   
.pagedrop>.down {z-index:1; background:#ccc; position:absolute; transition: all 1s ease-in-out;}
.pagedrop>.up { z-index:-1;margin-top:-530px; overflow: hidden; position:absolute; transition: all 1s ease-in-out; }
.submenu { position:relative; z-index:3; }   
.form-container { background: #fff;}
.table-responsive{ background:#fff;}
.submenu>.down {z-index:0; background:#ccc; position:absolute; transition: all 1s ease-in-out;}
.submenu.up { z-index:-1;margin-top:-330px; overflow: hidden; position:absolute; transition: all 1s ease-in-out; }
.up { z-index:-1;margin-top:-330px; overflow: hidden; position:absolute; transition: all 1s ease-in-out; }
.down {z-index:-1; background:#ccc; position:absolute; transition: all 1s ease-in-out;}
.drop {  position:absolute; background: #ffffff;padding:10px;padding-top:20px; border:1px solid #eeeeee; list-style:none;min-width:130px; transition: all 1s ease-in-out;}
.dropd>.drop { position:absolute; background: #ffffff;padding:10px;padding-top:20px; border:1px solid #eeeeee; list-style:none;min-width:130px; transition: all 1s ease-in-out;}


